/* The side navigation menu */
body {
	background-image: url(forest-with-sunlight-158251.jpg);
	background-attachment: fixed;

	color: white;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 25%;
	background-color: black;
	position: fixed;
	height: 100%;
	overflow: auto;

	opacity: 75%;

	/* make elements center */
	display: flex;
	justify-content: center;
	align-items: center;

}

div.sidebar {
	top: 0px;
	left: 0px;
}

/* Sidebar links */
.sidebar a {
	display: block;
	padding: 26px;
	color: white;
	text-decoration: none;

	margin: auto;
}

/* Active/current link */
.sidebar a.active {
	background-color: gray;
	color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
	margin-left: 25%; /* same as .sidebar width */
	padding: 1px 16px;
	height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

article {
	width: 90%;
	padding: 0px;
	margin: 60px 20px 60px 20px;
	background-color: black;
}

.about_me {
	width: 90%;
	padding: 0px;
	margin: 60px 20px 60px 20px;
	background-color: black;
}

.about_me h1 {
	display: flex;
	justify-content: center;
	margin: 30px auto 30px auto;
	font-size: xxx-large;
}

.social_icons {
	display: flex;
	justify-content: center;
}

.about_me p {
	margin: 30px;
}


.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.box1 {
	float: left;
	width: 66.66%; /* three boxes (use 25% for four, and 50% for two, etc) */
}

.box2 {
	float: left;
	width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
}

article div h1 {
	/* border: 1px solid red; */

	padding: 10px;
	margin: 0px;
}

article div p {
	/* border: 1px solid blue; */

	padding: 5px;
	margin: 0px;
}

.container {
	position: relative;
}

/* TODO: this overlap with p */
.bottomright {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

article div a {
	float: right;
	/* border: 2px solid white; */

	color: white;
	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 1200px) {
	.box1 {
		width: 100%;
		height: auto;
		position: relative;
	}
	.box2 {
		width: 100%;
	}
}