/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 30%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;

	/* make elements center */
	display: flex;
	justify-content: center;
	align-items: center;

}

/* Sidebar links */

.sidebar a {
	display: block;
	color: black;
	padding: 26px;
	text-decoration: none;

	margin: auto;
}

/* Active/current link */

.sidebar a.active {
	background-color: #4CAF50;
	color: white;
}

/* Links on mouse-over */

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

div.content {
	margin-left: 30%;
	padding: 1px 16px;
	height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

article {
	width: 90%;
	border: 8px solid gray;
	padding: 0px;
	margin: 20px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* .clearfix {
	overflow: auto;
} */

.box1 {
	float: left;
	width: 66.66%; /* three boxes (use 25% for four, and 50% for two, etc) */
}

.box2 {
	float: left;
	width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
}

/* article img { */
	/* padding: 0px;
	margin: 0px; */
/* } */

article div h1 {
	border: 1px solid red;

	padding: 10px;
	margin: 0px;
}

article div p {
	border: 1px solid blue;

	padding: 5px;
	margin: 0px;
}

.container {
	position: relative;
}

/* TODO: this overlap with p */
.bottomright {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

article div a {
	float: right;
	border: 1px solid green;

	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 700px) {
	.box1 {
		width: 100%;
		height: auto;
		position: relative;
	}
	.box2 {
		width: 100%;
	}
}