body {
	padding-left: 11em;
	color: purple;
	background-color: #d8da3d
}

.sidebar {
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em;
}

.sidebar li {
	background: white;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid black
}

.sidebar li:hover {
	border-bottom: 2px solid black
}